<div class="event-section">
    <div class="tab-group">
        <p class="section-title">Workshop</p>
        <a class="see-more-btn" (click)="onSeeMore()">
            Xem thêm 
            <i class="bi bi-chevron-right"></i>
        </a>
    </div>
  <div class="event-carousel">
    <!-- Danh sách sự kiện -->
    <div class="event-list">
      <div class="event-card" *ngFor="let item of visibleItems" (click)="goToEventDetail(item.id)">
        <img [src]="item.backgroundUrl || '/assets/default.jpg'" class="event-image" />
        <div class="event-details">
          <div class="event-title">{{ item.eventName  }}</div>
          <div class="event-price">Từ {{ item.price | number:'1.0-0' }}đ</div>
          <div class="event-date">
            <span class="material-icons">calendar_today</span>
            <span>{{ item.startTime | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
