.event-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  gap: 17px;
  overflow-x: auto;
  color: #000;
  gap: 6rem;
}

.event-item {
  white-space: nowrap;
  min-width: 160px;
  font-size: 14px;
}
