<div class="organizer-layout">
  <nav class="sidebar">
    <div class="logo">
    <img src="assets/logoeventa-white.png" alt="Eventa Logo"/>
  </div>
    <ul class="nav-links">
      <li>
        <a (click)="goToEvents()" class="nav-item" [class.active]="currentRoute.startsWith('/organizer/events')">
        <i class="bi bi-calendar-fill"></i>          
        <span>Sự kiện của tôi</span>
        </a>
      </li>
      <li>
        <a (click)="goToExportFile()" class="nav-item" [class.active]="currentRoute.startsWith('/organizer/export-file')">
        <i class="bi bi-folder-fill"></i>
        <span>Quản lý báo cáo</span>
        </a>
      </li>
      <li>
        <a (click)="goToReviewEvent()" class="nav-item" [class.active]="currentRoute.startsWith('/organizer/review-event')">
        <i class="bi bi-star-fill"></i>
        <span>Đánh giá sự kiện</span>
        </a>
      </li>
      <li>
        <a (click)="goToLegalDocument()" class="nav-item" [class.active]="currentRoute.startsWith('/organizer/legal-document')">
        <i class="bi bi-file-text-fill"></i>
        <span>Điều khoản cho Ban tổ chức</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-content">
    <nav class="nav-header">
      <div class="header-actions">
        <button class="create-event-btn" 
        (click)="goToCreateEvent()" [class.active]="currentRoute === '/organizer/create-event'">
          <i class="bi bi-plus-circle"></i>
          <span>Tạo sự kiện</span>
        </button>

        <div class="user-dropdown">
          <div class="user-info">
            <span class="user-name">Tài khoản</span>
            <i class="bi bi-caret-down-fill"></i>
          </div>

          <ul class="dropdown-menu">
            <li>
              <a (click)="goToProfile()" class="nav-item important-action" [class.active]="currentRoute.startsWith('/organizer/organizer-profile')">
                <i class="bi bi-person"></i>         
                <span>Hồ sơ</span>
              </a>
            </li>
            <li>
              <a (click)="logout()" class="nav-item important-action">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>