<div class="filter-tab">
    <div class="tab-group">
        <button class="filter-btn" (click)="setTab('thisweekend')" [class.active]="selectedTab === 'thisweekend'">
            <span>Cuối tuần</span>
        </button>  
        <button class="filter-btn" (click)="setTab('thismonth')" [class.active]="selectedTab === 'thismonth'">
            <span>Tháng này</span>
        </button>
    </div>
    <a class="see-more-btn" (click)="onSeeMore()">
        Xem thêm 
        <i class="bi bi-chevron-right"></i>
    </a>
</div>
<div class="events-list">
    <ng-container *ngIf="selectedTab === 'thisweekend'">
        <app-thisweekend-event></app-thisweekend-event>
    </ng-container>
    
    <ng-container *ngIf="selectedTab === 'thismonth'">
        <app-thismonth-event></app-thismonth-event>
    </ng-container>
</div>