.img {
  border-radius: 9999px;
  margin-bottom: 1rem;
  margin-top: 2.5rem;;
}

.no-ticket-msg {
  color: #6b7080;
  margin-bottom: 4rem;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: white;
  font-family: 'Inter', sans-serif;
}

.horizontal-ticket {
  background-color: #374151;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 8rem;
}

.left {
  width: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
}

.stub-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.stub-line1, .stub-line2 {
  height: 0.75rem;
  border-radius: 0.25rem;
}

.stub-line1 {
  width: 4rem;
}

.stub-line2 {
  width: 4rem;
}

.dashed-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.dashed-line::before {
  content: "";
  height: 100%;
  border-left: 2px dashed #4b5563;
}

.ticket-perforation {
  width: 1rem;
  height: 1rem;
  background-color: linear-gradient(135deg, #fff6f2, #ffffff);
  border-radius: 9999px;
  position: absolute;
  left: 8rem;
}

.ticket-perforation.top {
  top: -0.5rem;
  transform: translateX(-0.5rem);
}

.ticket-perforation.bottom {
  bottom: -0.5rem;
  transform: translateX(-0.5rem);
}

.main {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.ticket-left-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ticket-icon {
  width: 3rem;
  height: 3rem;
  background-color: #4b5563;
  border-radius: 0.5rem;
}

.ticket-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ticket-text-line1 {
  width: 10rem;
  height: 1.0rem;
  border-radius: 0.25rem;
}

.ticket-text-line2 {
  width: 10rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.ticket-text-line3 {
  width: 10rem;
  height: 0.75rem;
  border-radius: 0.25rem;
}

.middle-line1 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

/* .middle-line2 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
} */

.right-line1 {
  width: 6rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

/* .right-line2 {
  width: 5rem;
  height: 5rem;
  background-color: #6b7280;
  border-radius: 0.25rem;
} */