<div *ngIf="ticketOrders?.length === 0">
  <img
    src="https://storage.googleapis.com/a1aa/image/b4fbff74-75c2-4142-93e6-acdbad673655.jpg"
    alt="Illustration"
    width="200"
    height="200"
    class="img"
  />
  <p class="no-ticket-msg">Bạn chưa có vé nào</p>
</div>
<div class="ticket-list" *ngIf="ticketOrders.length > 0">
    <ng-container *ngFor="let order of ticketOrders">
      <ng-container *ngFor="let ticket of order.tickets">
        <div class="horizontal-ticket">
          <div class="left">
            <div class="stub-line1">{{ ticket.ticketType }}</div>
            <div class="stub-line2" 
              [ngClass]="{
                'cancelled':  order.status === 'cancelled'
              }">
                {{ order.status | statusTranslate }}
            </div>
          </div>

          <div class="dashed-line"></div>
          <div class="ticket-perforation top"></div>
          <div class="ticket-perforation bottom"></div>

          <div class="main">
            <div class="ticket-left-content">
              <div class="ticket-icon"></div>
              <div class="ticket-column">
                <div class="ticket-text-line1">{{ ticket.eventName }}</div>
                <div class="ticket-text-line2">
                  {{ ticket.eventStartTime | date: 'HH:mm dd/MM/yyyy' }}
                  {{ ticket.unitPrice | number:'1.0-0' }}đ x {{ ticket.quantity }}
                </div>
              </div>
            </div>

            <div class="ticket-column right-content">
              <div class="right-line1">{{ ticket.eventLocation }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
